.navbar {
                
}

.navbar ul {
	display:flex;
    list-style: none;            
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 1rem;         
}
.container {
    width: 100%;

	 background-color:rgb(211, 211, 211);   
   padding: 10px;  
}
